################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/ProductCatalogApp.UnitTests/obj/project.nuget.cache
